
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


#truu{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    z-index: -1;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    width: 300px;
    background-color: #b2c4b2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.card h2{
    margin-bottom: 10px;
}

.card p{
    margin: 5px 0;
}
.returnb{
    background-color: #91a291;
    
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.returnb:hover{
    background-color: #7f957f;
}
